In [1]:
from __future__ import absolute_import, division, print_function#, unicode_literal
import math
import functools
from pathlib import Path
import numpy as np
import os
import pandas as pd

In [2]:
file_names=['NASA1', 'NASA2', 'NASA3', 'NASA4', 'NASA5', 'NASA6']
file_word_counts = dict()
number_of_files = 6
list_for_sum = []
total_sums = []
total_word_count = dict()
temporary_word_stuff = 0
num_docs_term_t = dict()
collection_of_tfidf= dict()

In [3]:
for name in file_names:
    with open(name + '.txt', 'r', encoding='utf8') as file:
        contents = file.read()
        #print(contents)
        counts = dict()
        words = None
        words = contents.split()
        word_count = len(words)
        for word in words:
            if word in counts:
                counts[word] += 1
            else:
                counts[word] = 1
        file_word_counts[name] = counts
    total_word_count[name] = word_count

In [4]:
for name in file_word_counts.keys():
    
    for word in file_word_counts[name].keys():
        if word in num_docs_term_t:
            num_docs_term_t[word] += 1
        else:
            num_docs_term_t.update({word:1})
        file_word_counts[name] = num_docs_term_t

In [5]:
for key in file_word_counts.keys():
    #iterating over the items in each dictionary for the key assigned above
    for j,k in file_word_counts[key].items():
        #calculating the td
        term_frequency=k/total_word_count[key]
        num_of_docs = num_docs_term_t.get(j)
        #print(num_of_docs)
        idf=math.log2(number_of_files/num_of_docs)
        tf_idf = term_frequency*idf
        
        collection_of_tfidf.setdefault(key, {})[j] = tf_idf

In [6]:
inverted_df= pd.DataFrame.from_dict(collection_of_tfidf)
inverted_df = inverted_df.drop(["and", "of", "to", "for", "a", "in", "is", "we"])
#inverted_df = inverted_df.drop(["the", "and", "of", "to", "for", "a", "in", ",", "is", "k", "0", "∈", "we"])

df = pd.DataFrame.transpose(inverted_df)

In [10]:
print(inverted_df)
inverted_df = inverted_df.sort_values("NASA2", axis=0, ascending=False, inplace=False)

               NASA1     NASA2     NASA3     NASA4     NASA5     NASA6
JOINT       0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
infinity,   0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
u˜)         0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
[0,t˜f      0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
nontrivial  0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
...              ...       ...       ...       ...       ...       ...
found       0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
this        0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
working     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
there       0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

[8269 rows x 6 columns]

In [12]:
print(inverted_df[0:3])

                     NASA1     NASA2     NASA3     NASA4     NASA5     NASA6
JOINT             0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
characteristics.  0.000594  0.000594  0.000193  0.000335  0.000335  0.000502
work:             0.000594  0.000594  0.000193  0.000335  0.000335  0.000502